  <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <!--Page Title-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div id="page-title">
                <h1 class="page-header text-overflow">
                    Dashboard</h1>
                    
<button (click)="createquiz()" >Add</button>
                    <table border="1" style="width: 33%">
                        <tr>
                          <th>Id</th>
                          <th>quizCategory</th>
                          <th>quizName</th>
                        </tr>
                        <tr *ngFor="let qdata of quizmodel">
                          <td>{{ qdata.id }}</td>
                          <td> {{ qdata.quizCategory }}</td>
                          <td>{{qdata.quizName}}</td>
                           
                        </tr>
                      </table>

                <!--Searchbox-->
                <div class="searchbox">
                    <div class="input-group custom-search-form">
                          
                    </div>
                </div>
            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End page title-->
            <!--Page content-->
            <!--===================================================-->
            
 
            <div id="page-content">
                <div class="row">
                     
                                     
                    <div class="col-lg-13" *ngFor="let qdata of quizmodel; let i=index" >
                       
                         
                             
                              <div class="col-sm-6 col-lg-6" >
                                <!--Sparkline Area Chart-->
                                <div  [ngClass]="getClass(i)">
                                    <div class="pad-all">
                                        <p class="text-lg text-semibold">
                                            <i class="demo-pli-heart-2 icon-fw"></i>{{qdata.quizCategory}}</p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">3</span>  <a style="color:blue;;" [routerLink] ="['/category',qdata.quizCategory]">No. of Categories  </a>
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">10</span> Per Categories  
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">10</span> Completed Q & A 
                                        </p>
                                    </div>
                                    <div class="pad-all">
                                        <ul class="list-group list-unstyled">
                                            <li class="mar-btm"><span class="label label-warning pull-right">100%</span>
                                                <p>
                                                    Question & Answer</p>
                                                <div class="progress progress-md">
                                                    <div style="width: 100%;" class="progress-bar progress-bar-light">
                                                        <span class="sr-only">100%</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                      

                         
                        



                        
                    </div>
                </div>
                 
            </div>
            <!--===================================================-->
            <!--End page content-->
        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
        