  <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <!--Page Title-->
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <div id="page-title">
                <h1 class="page-header text-overflow">
                    Dashboard</h1>
                    
<button (click)="createquiz()" >Add</button>
                    <table border="1" style="width: 33%">
                        <tr>
                          <th>Id</th>
                          <th>quizCategory</th>
                          <th>quizName</th>
                        </tr>
                        <tr *ngFor="let qdata of quizmodel">
                          <td>{{ qdata.id }}</td>
                          <td> {{ qdata.quizCategory }}</td>
                          <td>{{qdata.quizName}}</td>
                           
                        </tr>
                      </table>

                <!--Searchbox-->
                <div class="searchbox">
                    <div class="input-group custom-search-form">
                          
                    </div>
                </div>
            </div>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
            <!--End page title-->
            <!--Page content-->
            <!--===================================================-->
            
 
            <div id="page-content">
                <div class="row">
                     
                    <div class="col-lg-13">
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <!--Sparkline Area Chart-->
                                <div class="panel panel-success panel-colorful">
                                    <div class="pad-all">
                                        <p class="text-lg text-semibold">
                                            <i class="demo-pli-heart-2 icon-fw"></i>Self Check</p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">3</span> <a style="color:blue;;" href="Category.htm">No. of Categories  </a>
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">10</span> Per Categories  
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">10</span> Completed Q & A 
                                        </p>
                                    </div>
                                    <div class="pad-all">
                                        <ul class="list-group list-unstyled">
                                            <li class="mar-btm"><span class="label label-warning pull-right">100%</span>
                                                <p>
                                                    Question & Answer</p>
                                                <div class="progress progress-md">
                                                    <div style="width: 100%;" class="progress-bar progress-bar-light">
                                                        <span class="sr-only">100%</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <!--Sparkline Line Chart-->
                                <div class="panel panel-info panel-colorful">
                                    <div class="pad-all">
                                        <p class="text-lg text-semibold">
                                            <i class="demo-pli-idea-2 icon-fw"></i>How I learn</p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">4</span> No. of Categories  
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">10</span> Per Categories  
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">9</span> Completed Q & A 
                                            </p>
                                    </div>
                                    <div class="pad-all">
                                        <ul class="list-group list-unstyled">
                                            <li class="mar-btm"><span class="label label-warning pull-right">90%</span>
                                                <p>
                                                    Question & Answer</p>
                                                <div class="progress progress-md">
                                                    <div style="width: 90%;" class="progress-bar progress-bar-light">
                                                        <span class="sr-only">90%</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <!--Sparkline bar chart -->
                                <div class="panel panel-purple panel-colorful">
                                    <div class="pad-all">
                                        <p class="text-lg text-semibold">
                                            <i class="demo-pli-lock-user icon-fw"></i>Adoption</p>
                                            <p class="mar-no">
                                            <span class="pull-right text-bold">4</span> No. of Categories  
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">10</span> Per Categories  
                                        </p>
                                        <p class="mar-no">
                                            <span class="pull-right text-bold">8</span> Completed Q & A 
                                        </p>
                                    </div>
                                    <div class="pad-all">
                                        <ul class="list-group list-unstyled">
                                            <li class="mar-btm"><span class="label label-warning pull-right">80%</span>
                                                <p>
                                                    Question & Answer</p>
                                                <div class="progress progress-md">
                                                    <div style="width: 80%;" class="progress-bar progress-bar-light">
                                                        <span class="sr-only">80%</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <!--Sparkline pie chart -->
                                <div class="panel panel-warning panel-colorful">
                                    <div class="pad-all">
                                        <p class="text-lg text-semibold">
                                            <i class="demo-pli-check icon-fw"></i>Empty</p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">0</span> No. of Categories  
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">0</span> Per Categories  
                                            </p>
                                            <p class="mar-no">
                                                <span class="pull-right text-bold">0</span> Completed Q & A 
                                            </p>
                                    </div>
                                    <div class="pad-all">
                                        <ul class="list-group list-unstyled">
                                            <li class="mar-btm"><span class="label label-warning pull-right">0%</span>
                                                <p>
                                                    Quesion & Answer</p>
                                                <div class="progress progress-md">
                                                    <div style="width: 0%;" class="progress-bar progress-bar-light">
                                                        <span class="sr-only">0%</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
            </div>
            <!--===================================================-->
            <!--End page content-->
        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
        