<header id="navbar">
    <div id="navbar-container" class="boxed">

        


        <!--Navbar Dropdown-->
        <!--================================-->
        <div class="navbar-content clearfix" style="margin-left: 1px;">
            <ul class="nav navbar-top-links pull-left">

                <li class="tgl-menu-btn">
                    
                    <a [routerLink]="['/client']" class="navbar-brand">
                        <img src="assets/images/logo.png" alt="Nifty Logo" class="brand-icon">
                        <div class="brand-title">
                            <span style="color: orange;">Hackathon</span>
                        </div>
                    </a>
                 
            </li>




            

                <!--Notification dropdown-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li class="dropdown">
                     

                    <!--Notification dropdown menu-->
                    <div class="dropdown-menu dropdown-menu-md">
                        <div class="pad-all bord-btm">
                            <p class="text-semibold text-main mar-no">You have 9 notifications.</p>
                        </div>
                        <div class="nano scrollable">
                            <div class="nano-content">
                                <ul class="head-list">

                                </ul>
                            </div>
                        </div>

                        <!--Dropdown footer-->
                        <div class="pad-all bord-top">
                            <a href="#" class="btn-link text-dark box-block">
                                <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Notifications
                            </a>
                        </div>
                    </div>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End notifications dropdown-->



                 

            </ul>
            <ul class="nav navbar-top-links pull-right">

                



                <!--User dropdown-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <li id="dropdown-user" class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                        <span class="pull-right">
                            <!--<img class="img-circle img-user media-object" src="img/profile-photos/1.png" alt="Profile Picture">-->
                            <i class="demo-pli-male ic-user"></i>
                        </span>
                        <div class="username hidden-xs">Administrator</div>
                    </a>


                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">

                       

                        <!-- User dropdown menu -->
                        <ul class="head-list">
                            <li>
                                <a href="#">
                                    <i class="demo-pli-male icon-lg icon-fw"></i> Profile
                                </a>
                            </li>
                             
                            <li>
                                <a href="#">
                                    <span class="label label-success pull-right">New</span>
                                    <i class="demo-pli-gear icon-lg icon-fw"></i> Settings
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="demo-pli-information icon-lg icon-fw"></i> Help
                                </a>
                            </li>
                            
                            
                        </ul>

                        <!-- Dropdown footer -->
                        <div class="pad-all text-right">
                            <a href="#" class="btn btn-primary">
                                <i class="demo-pli-unlock"></i> Logout
                            </a>
                        </div>
                    </div>
                </li>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End user dropdown-->

                <li>
                    <a href="#" class="aside-toggle navbar-aside-icon">
                        <i class="pci-ver-dots"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!--================================-->
        <!--End Navbar Dropdown-->

    </div>
</header>