 
<div class="pace  pace-inactive">
    <div class="pace-progress" style="width: 100%;" data-progress-text="100%" data-progress="99">
        <div class="pace-progress-inner">
        </div>
    </div>
    <div class="pace-activity">
    </div>
</div>


<div id="container" class="effect aside-float aside-bright mainnav-lg">
    

    <app-navbar></app-navbar>
    <div class="boxed">  
        <router-outlet></router-outlet>
         <app-mainnav>
    </app-mainnav>
 </div>
<app-footer></app-footer>
  
 <button class="scroll-top btn">
     <i class="pci-chevron chevron-up"></i>
 </button>
 
 <div id="floating-top-right" class="floating-container">
 </div>


</div>

 
